<div fxLayout="row" fxLayoutGap="auto">
  <h2>Capmaigns</h2>
  <mat-icon class="add_icon" fontSet="fas" fontIcon="fa-plus-circle" (click)="createCampaign()"></mat-icon>
</div>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let campaign of campaigns;  let j = index;" (opened)=panelClick(campaign)>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon fontSet="{{campaign.icon | slice:0:3}}" fontIcon="{{campaign.icon | slice:4:campaign.icon.length}}"></mat-icon>

        {{campaign.title}}
    </mat-panel-title>
    <mat-panel-description class="date_panel">
      <mat-icon fontSet="fas" fontIcon="fa-calendar"></mat-icon>
      {{campaign.created | date:"dd/MM/yyyy"}}
      </mat-panel-description>
      <mat-panel-description>
        <mat-icon class="edit_icon" fontSet="fas" fontIcon="fa-pen" (click) = "updateCampaign(campaign)"></mat-icon>
        <mat-icon fontSet="fas" fontIcon="fa-trash" (click) = "deleteCampaign(campaign.id)"></mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- show tasks table -->
    <table mat-table  [dataSource]= "dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.description}} </td> -->
        <td mat-cell *matCellDef="let element"> <mat-icon fontSet="fas" fontIcon="fa-eye"></mat-icon> </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
      </ng-container>

      <ng-container matColumnDef="campaign">
        <th mat-header-cell *matHeaderCellDef> Campaign </th>
        <td mat-cell *matCellDef="let element"> {{element?.campaignId}} </td>
      </ng-container>

      <ng-container matColumnDef="editDelete">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="edit_icon" fontSet="fas" fontIcon="fa-pen" (click) = "updateTask(element, campaign.id)"></mat-icon>
          <mat-icon fontSet="fas" fontIcon="fa-trash" (click) = "deleteTaskByCampaignId(element.id, campaign.id)"></mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="assignedUser">
        <th mat-header-cell *matHeaderCellDef> Assigned User </th>
        <td mat-cell *matCellDef="let element"> {{element.assignedUser?.firstName}} {{element.assignedUser?.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef><mat-icon fontSet="fas" fontIcon="fa-calendar"></mat-icon></th>
        <td mat-cell *matCellDef="let element">{{element?.created | date:"dd/MM/yyyy"}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
